@import "../../../styles/mixins";

.case{
    background-color: var(--color-background-light);
    // width: 100vw;
    position: relative;
    // background-color: red;


    div{
        width: 100%;
        position: relative;
    }

    &__title{
        width: 40%;
        font-weight: 700;
        

    }
    &__suit{
        width: 10%;

    }
    
    &__counsel{
        width: 10%;

        &__image{
            width: 3rem;
            height: 3rem;

            @include respond(tab-port){
                margin-left:2rem;
                width: 4rem;
                height: 4rem;
        }
        }

        

    }
    
    &__court{
        width: 30%;

        

    }


    


}

.table__container{
    overflow: auto;
    width: 100%;

}

.filter{
    width: 15rem;

    &__text{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-text-mid);

           @include respond(tab-port){
            font-size: 1.4rem;
            }
    }

    &__container{

        width: 100%;
        gap: 1rem;
        align-items: center;
        display: inline-flex;
          @include respond(tab-port){
     align-items: flex-start;
    }
    }

    &__content{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    
        width: stretch;
        @include respond(phone){
            margin-left: 1rem;
        }

    }

    @include respond(tab-port){
        width: auto;
        min-width: 19rem;
    }


}
