@import "../../../styles/mixins";

.case{
    background-color: var(--color-background-light);
    // width: 100vw;
    position: relative;
    // background-color: red;

    &:hover{
        box-shadow: 0.5px 0.5px 5px 0px gray;
    }
    div{
        width: 100%;
        position: relative;
    }

    &__title{
        width: 40%;
        font-weight: 700;
        

    }
    &__suit{
        width: 10%;

    }
    
    &__counsel{
        width: 10%;

        &__image{
            width: 3rem;
            height: 3rem;

            @include respond(tab-port){
                margin-left:2rem;
                width: 4rem;
                height: 4rem;
        }
        }

        

    }
    
    &__court{
        width: 30%;

        

    }


    


}

.table__container{
    overflow: auto;
    width: 100%;

}

table{
    width: 100%;
    position: relative;
    font-size: 1.2rem;
    border-spacing: 0 1rem;
    table-layout: fixed;

    @include respond(phone){

        
         min-width:100rem ;
         font-size: 1.4rem;
       

    }

    th{
        border-bottom: 1px solid var(--color-text-alt);
        padding: 1.5rem;
        text-align: left;
        color: var(--color-text-mid);
        font-size: 1.2rem;
        font-weight: 600!important;
        position: sticky;
        
    
    }
    
    tr{
        width: 100%;
        border:none;
        border-radius:.25rem;

        left: 0;

        
    }
    
    td{
        padding: 1.25rem;
        border:none;
        height: 2rem;
        border-radius: .5rem;

        background-color: var(--color-background-light);


    }
}

.filter{
    width: 15rem;

    &__text{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--color-text-mid);

           @include respond(tab-port){
            font-size: 1.4rem;
            }
    }

    &__container{

        width: 100%;
        gap: 1rem;
        align-items: center;
        display: inline-flex;
          @include respond(tab-port){
     align-items: flex-start;
    }
    }

    &__content{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
    
        width: stretch;
        @include respond(phone){
            margin-left: 1rem;
        }

    }

    @include respond(tab-port){
        width: auto;
        min-width: 19rem;
    }


}
