#dashboard {
   min-height: 100vh;
   height: auto;
   display: flex;
   align-items: flex-start;

   &-sidebar {
      width: max(32rem, 320px);
      height: calc(100vh);
      padding: 1.5rem 3rem;
          position: sticky;
          top: 0;
          left: 0;


      background-color: var(--color-background-light);
   }

   &-main {
      width: 100%;
      min-height: calc(100vh);
      height: auto;
      padding: 3rem 1.5rem;
      background-color: var(--color-background-dark);
   }
}


/* .head__user{
   animation: OpenPopup .3s ease-in-out 1 ;
}

@keyframes OpenPopup {

    from{
        width: 3rem;
        height: 3rem;

    }
    to{
        width: 22.6rem;
        height: 39.3rem;
    }
    
}
 */

 .icon__item{
    display: flex;
    justify-content: space-between;
    // margin: 1rem;
    padding: 1rem 5rem;
    font-size: 1.6rem;
    width: 60%;
    margin: 1rem auto;
color: var(--color-secondary);

svg{
    fill: currentColor;
    width: 3rem;
    height: 3rem;
}


}
.icon__item__header{
    position: sticky;
    top: 0;
    color: white;
    text-transform: capitalize;
    left: 0;
    padding: 2rem;
    background-color: var(--color-secondary);
    // height: 10rem;
}
