#dashboard {
   min-height: 100vh;
   height: auto;
   display: flex;
   align-items: flex-start;

   &-sidebar {
      width: max(32rem, 320px);
      height: calc(100vh);
      padding: 1.5rem 3rem;

      background-color: var(--color-background-light);
   }

   &-main {
      width: 100%;
      min-height: calc(100vh);
      height: auto;
      padding: 3rem 1.5rem;
      background-color: var(--color-background-dark);
   }
}
