.heading{
    &-sec{
        font-size: 1.8rem;
    }
    
    &-ter{
        font-size: 1.6rem;

        @include respond(tab-port){
            margin-bottom:3rem;
        }
    }
}

  .dark{
                color: var(--color-black)!important;
            }
