@mixin smallPc {
  @media screen and (max-width: 1230px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin tablets {
  @media screen and (max-width: 950px) {
    @content;
  }
}
.firmheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  h5 {
    font-size: 16px;
    font-weight: 600;
  }
  a {
    padding: 10px 18px;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    font-weight: 600;
  }
}
.allFirms {
  width: 85%;
  display: flex;
  gap: 30px;
  justify-content: left;
  @include tablets {
    flex-wrap: wrap;
  }
  .firmProfile {
    background-color: var(--color-background-light);
    width: 100%;
    // width: auto;
    border-radius: 16px;
    padding: 25px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;

      span {
        padding: 12px;
        text-align: center;
        color: var(--color-secondary);
        font-size: 20px;
        background-color: #f9f5ff;
        border-radius: 50%;
        font-weight: 500;
      }
    }
    h4 {
      color: var(--color-secondary);
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0px;
    }
    p {
      color: var(--color-text-dark);
      font-size: 14px;
      font-weight: 500;
      padding: 10px 0px;
    }
    button {
      background-color: var(--color-background-light);
      padding: 15px 50px;
      border-radius: 25px;
      border: 1px var(--color-secondary) solid;
      color: var(--color-secondary);
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      @include smallPc {
        padding: 13px 20px;
      }
    }
  }
}
.lawyer {
  table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 8px;
      text-align: left;
      border-bottom: 5px solid #ddd;
    }

    .active {
      // border-radius: 10px;
      background-color: var(--color-secondary);
      color: var(--color-text-light);      
    }

    .notActive {
      background-color: var(--color-background-light);
    }
    tr {
      border-radius: 20px;
      margin-top: 10px;
      td {
        padding: 10px 0px;
        text-align: left;
        border-bottom: 3px solid #ddd;
        padding: 10px;
        background-color: transparent;
        border-radius: 0px;

        svg{
          font-size: 20px;
          height: 30px;
          width: 30px;

        }
      }
      td:nth-child(2) {
        font-weight: 600;
        font-size: 14px;
        
      }

      
    }
  }
}