.firmheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    h5{
        font-size: 1.1rem;
    }
    a{
        padding: 10px 15px;
        background-color: var(--color-secondary);
        color: var(--color-text-light);
        text-decoration: none;
        font-size: 1rem;
        border-radius: 30px;
        align-items: center;
        display: flex;
        font-weight: 500;
        div{
            font-size: 1.4rem;
            padding-right:8px;
            display: flex;
            align-items: center;
            // text-align: center;
            // align-items: center;

        }
    }
}
.allFirms {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  .firmProfile {
    background-color: var(--color-background-light);
    width: 85%;
    // width: auto;
    border-radius: 10px;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;

      span {
        padding: 12px;
        text-align: center;
        color: var(--color-secondary);
        font-size: 1.25rem;
        background-color: #F9F5FF;
        border-radius: 50%;
        font-weight: 500;
      }
    }
    h4{
        color: var(--color-secondary);
        font-size: 1.2rem;
    }
    p{
        color: var(--color-text-dark);
        font-size: 0.8rem;
        font-weight: 500;
    }
    button{
        background-color: var(--color-background-light);
        padding: 15px 50px;
        border-radius: 25px;
        border: 1px var(--color-secondary) solid;
        color: var(--color-secondary);
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }
  }
}
