@import './_landing.scss';
@import '../components/header';
@import '../components/footer';
@import './_mixins.scss';
@import './_typo.scss';
@import './_dashboard-layout.scss';

:root {
  --color-primary: #FAB641;
  --color-secondary: #0D294D;
  --color-background-light: #FFFFFF;
  --color-background-dark: #EDEEF1;
  --color-text-light: #FFFFFF;
  --color-text-dark: #231F20;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-green: #5DB975;
  --color-red: #FA7066;
  --color-black: #000;

}

[data-theme=dark] {
  --color-primary: #FAB641;
  --color-secondary: #0D294D;
  --color-background-light: #FFFFFF;
  --color-background-dark: #EDEEF1;
  --color-text-light: #FFFFFF;
  --color-text-dark: #231F20;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-green: #5DB975;
  --color-red: #FA7066;
  --color-black: #000;


}


.con {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}

img {
  pointer-events: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  backface-visibility: hidden;
}


html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 8px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 9px
  }

  @include respond(phone) {
    font-size: 50%;
  }

  height: 100%;

}

body {
  font-size: 1.6rem;
}