@import '../../styles/mixins';

.header {
   background-color: var(--color-background-light);
   width: 100%;
   position: fixed;
   top: 0%;
   z-index: 10;

   & .con {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }


   &-logo {
      width: 30%;
   }

   &-nav {
      display: flex;

      @include respond(phone) {
         display: none;
      }

      & a {
         padding: 5px 0;
         margin: 0 10px;
         font-size: 1.6em;

      }
   }

   &-btns {
      width: 30%;
      text-align: right;
      padding: 1.5em 0;

      @include respond(phone) {
         display: none;
      }

      & button {
         width: fit-content
      }

      & button:nth-child(2) {
         margin-left: 15px;
      }
   }

   &-menu {
      display: none !important;
      height: 30px !important;
      width: 30px !important;

      @include respond(phone) {
         display: block !important;
      }
   }

   &-mobile {
      margin: 2em;

      &-nav {

         & div {
            margin: 3em 0;
         }

         & a {
            padding: 5px 0;
            margin: 0 10px;
            font-size: 18px;

         }
      }

      &-btns {
         & button {
            display: block;
            width: 100%;
            margin: 1em 0;
            font-size: 18px;
         }
      }
   }
}