.carousel {
   width: 3000px;
   // display: grid;
   // display: flex;
   // grid-template-columns: 1fr 3fr;
   align-items: center;
   justify-content: flex-start;
   // flex-wrap: wrap;
   margin: 3em auto;

   &-con {
      position: relative;
      overflow: scroll;
      width: 100%;

      &::-webkit-scrollbar {
         height: 0;
      }

      &::-webkit-scrollbar-thumb {
         background-color: var(--color-secondary);
      }
   }

   &-tab {
      display: inline-block;
      box-shadow: 2px 3px 6px 2px rgba(125, 164, 214, 0.2);
      border-radius: 5px;
      border: 1px solid var(--color-text-dark);
      width: 400px;
      min-height: 210px;
      padding: 1.5em;
      margin: 0.5em;
      text-align: left;
      color: var(--color-text-dark);
      font-size: 1.5rem;
      line-height: 1.4;

      &-user {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         margin: 1em 0;

         & img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-right: 1em;
         }

         & b{
            font-size: 2.8rem;
            font-weight: 600;
         }

         & p{
            font-size: 2rem;
         }
      }
   }
}