.main-about{
    position: relative;
}
.header-a {
    position: relative;
}
.first img{
    height: 450px;
    width: 100%;
}
.mid-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mid-text h3{
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: white;
}
.mid-text p{
    top: 150px;
    text-align: center;
    color: white;
    width: 900px;
    left: 210px;
    top:  120px;
}
.body-abt{
    padding: 100px;
}
.re-def{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.txt-re{
    width: 50%;
}
.txt-re .explanation {
    font-size: 16px;
    line-height: 24px;
}

.heading p{
    font-weight: bold;
    font-size: 18px;
}
.explanation p{
    color: #36373A;
}
.img-re {
    width: 35%;
}
.second-r{
    position: absolute;
}
.first-r {
    width: 300px;
    position: relative;
}
.first-r img{
    width: 400px;
}
.second-r {
    position: absolute;
    top: -30px;
    left: -50px;
    z-index: 10;
}
.third-r {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -90px;
    z-index: 20;
    background-color: #DBDFE4;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.third-r img{
    width: 50px;
}

.just-del{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.img-just{
    width: 50%;
}
.first-j img{
    width: 400px;
}
.first-j{
    position: relative;
}
.second-j{
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 10;
}
.third-j{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 90px;
    z-index: 10;
    background-color: #DBDFE4;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.third-j img{
    width: 50px;
}
.txt-just{
    width: 40%;
}
.innovation{
    background-color: var(--color-secondary);
    padding: 100px;
}
.heading-in{
    color: white;
}
.heading-in p{
    opacity: 0.6;
}
.flex-inv{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
}
.flex-card{
    margin-top: 90px;
    position: relative;
    padding: 20px;
    border: 1px solid #BABBBE;
    border-radius: 0.9rem;
    height: 280px;
    width: 350px;
}
.in-title  {
    color: white;
    width: 250px;
}
.in-desc{
    color: white;
    font-size: 16px;
    opacity: 0.7;
    width: 350px;
}
.team{
    padding: 100px;
    background-color: #d0d1d3;
}
.head-team p{
    opacity: 0.6;
}
.team-flex{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
}
.team-image{
    position: relative;
    filter: grayscale(100%);
}
.team-name{
    position: relative;
    top: -70px;
    right: -20px;
    color: white;
    width: 180px;
}