@import '../../styles/mixins';

#dashboard {
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: flex-start;
    width: 100%;

    @include respond(big-desktop) {
        margin: 0 auto;
        width: 180rem;
    }

    @include respond(big-desktop) {
        margin: 0 auto;
        ;
    }

    &-sidebar {
        transition: 0.3s;
        width: 320px !important;
        height: calc(100vh);
        padding: 1.5rem 3rem;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--color-background-light);

        @include respond(tab-port) {
            position: fixed;
            // display: none;
        }
    }

    &-main {
        width: 100%;
        min-height: calc(100vh);
        height: auto;
        padding: 3rem 1.5rem;

        background-color: var(--color-background-dark);
    }
}


/* .head__user{
   animation: OpenPopup .3s ease-in-out 1 ;
}

@keyframes OpenPopup {

    from{
        width: 3rem;
        height: 3rem;

    }
    to{
        width: 22.6rem;
        height: 39.3rem;
    }
    
}
 */

.icon__item {
    display: flex;
    justify-content: space-between;
    // margin: 1rem;
    padding: 1rem 5rem;
    font-size: 1.6rem;
    width: 60%;
    margin: 1rem auto;
    color: var(--color-secondary);

    @include respond(tab-port) {
        width: 100%;

    }

    svg {
        fill: currentColor;
        width: 3rem;
        height: 3rem;
    }

    @include respond(big-desktop) {
        width: 100%;
        font-size: 3rem;

        // background-color:var(--color-primary);

    }


}

.icon__item__header {
    position: sticky;
    top: 0;
    color: var(--color-secondary);
    text-transform: capitalize;
    left: 0;
    padding: 2rem;
    // height: 10rem;
    background-color: var(--color-primary);

}


.table__wrapper {

    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    position: relative;
    font-size: 1.2rem;
    border-spacing: 0 1rem;
    table-layout: fixed;

    @include respond(phone) {


        min-width: 100rem;
        font-size: 1.4rem;


    }

    th {
        border-bottom: 1px solid var(--color-text-alt);
        padding: 1.5rem;
        text-align: left;
        color: var(--color-text-mid);
        font-size: 1.2rem;
        font-weight: 600 !important;
        position: sticky;


    }

    tr {
        width: 100%;
        border: none;
        border-radius: .25rem;
        left: 0;
        &:hover{
            box-shadow: 0.5px 0.5px 5px 0px gray;
        }

    }

    td {
        padding: 1.25rem;
        border: none;
        height: 2rem;
        background-color: var(--color-background-light);

        &:first-child{
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        &:last-child{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
}