@import '/src/styles/mixins';

.s-body {
    background-image: url('../../../src/assets/images/justice.png');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    @include respond(phone) {
            width: 100%;
            height: 100%;
        }
}
.left-s{
    @include respond(phone){
        width: 100%;
    }
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 55%;
    height: 100%;
    background-color: #fff;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.right-s{
    width: 45%;
    // height: 100vh;
    @include respond(phone) {
            width: 45%;
        }
}
.right-s img{
    width: 100%;
    // height: 100vh;
    object-fit: contain;
    @include respond(phone) {
            width: 50%;
            object-fit: contain;
        }
}
.s-main {
    padding: 100px 0;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    // height: 100vh;
    /* display: flex;
    justify-content: center; */
    @include respond(phone) {
            padding: 0 40px;
            width: 100%;
        }
}

.sp-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wc .heading{
    margin: 70px 0px 5px 0px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
    @include respond(phone) {
        padding-top: 0px;
        }
}
.wc span{
    margin-top: 0px;
    color: #595a5a;
}
.sp-logo img {
    width: 70px;
}
.login {
    margin-top: 20px;
    padding: 20px 0;
}

.pass,
.user {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 25px;
    margin-top: 10px;
    padding: 0 15px;
}
 .pass::placeholder, 
 .user::placeholder {
    margin-left: 10px;
 }

.label {
    color: rgb(70, 67, 67);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0 0 0;
    
}
.p-word{
    margin-top: 20px;
}
.cb {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
.rem {
    display: flex;
}
.rem p{
    font-weight: 400;
    color: #595a5a;
}
.check-name {
    margin-left: 10px;
    color: #595a5a;
}
.check-name p{
    font-weight: bold;
}
.f-pass {
    font-weight: 800;
    text-decoration: none;
    color: var(--color-secondary);
}
.pass-icon {
    position: relative;
}
.eye {
    position: absolute;
    right: 20px;
    top: 20px;
}
.sign-btn {
    padding: 16px 20px;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    border-radius: 40px;
    color: var(--color-secondary);
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}
.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.sign-up p{
    color: #595a5a;
}
.s-link{
    margin-left: 5px;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-secondary);
}
.toast{
    width: 100px;
    height: 120px;
    @include respond(phone) {
        width: 100px;
        height: 100%;
        }
}
.toast-h p{
    font-weight: bold;
    color: black;
    font-size: 15px;
    width: 300px;
}
.toast-d{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    width: 300px;
}
